*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
    background-image: url(./css_images/bg-image.jpg);
    background-size: contain;
}

header {
    position: fixed;
}

#logo-image {
   margin-top: 10px ;
   margin-left:-30;
   width: 250px;
   height: 50px;
}

#heading {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 10%;
}

#navigation-menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    top: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

#navigation-element {
    padding: 1px 20px 1px 20px;
}

#navigation-link {
    text-decoration: none;
    color: #e67b74;
}

#navigation-link:hover {
    color: #6d5714;
}

.social-icons {
    display: grid;
    font-size: 2rem;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    align-items: center;
}

#icon-span {
    padding: 8px;
}

.social-icons i{
    color:#6c9d7c;
}

#home {
    width: 100%;
    height: 20%;
    border: none;
    margin: 0 auto;
}

#home-field {
    height: 800px;
    border: none;
    color: white;
    background-image: url(./css_images/HomeCover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding-right: 100px;;
    align-items: center;
    justify-content: flex-end;
}

#home-image {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

#home-image-text1{
    width: 20%;
    height: 20%;
    font-size: 4rem;;
    margin: 0 auto;
    text-align: center;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    color: #fae870;
    width: fit-content;
}

#home-image-text2{
    width: 20%;
    height: 20%;
    font-size:small;
    margin: 0 auto;
    text-align: center;
    font-family: Helvetica, sans-serif;
    width: fit-content;
    color: #fae870;
    box-shadow: #fae870 ;
}

.name{
   padding-right: 50px;
   width: fit-content;
}

#about-field {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

#about-heading {
    text-align: center;
    margin-top: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    color: bisque;
}

#about-field1, 
#about-field2 {
    width: 600px;  
    margin-top: 1px;
    padding: 20px;
    text-align: justify;
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
}

#about-text {
    color:burlywood;
    font-size: x-large;
}

#gig-chart {
    color: rgb(147, 91, 18);
}

#collab-artists {
    color: rgb(46, 189, 99);
}

#events-heading {
    text-align: center;
    margin-top: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    color: bisque;
}

#events-image {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

#events-field {
    height: 20%;
    text-align: center;
    background-image: url(./css_images/events_background.jpg);
    height: 800px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#events-text {
    color: #ddfffd;
    font-size: 2.2rem;
}

#current-place {
    color: rgb(152, 148, 40);
}

#gallery-heading {
    text-align: center;
    margin-top: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    color: bisque;
}

#gallery-field {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 0 auto;
    max-width: 1400px;
    padding: 20px 10px;
}

#gallery-field img {
    width: 100%;
    max-width: 300px;
    max-height: 220px;
    object-fit: cover;
    border-radius: 10px;
}


.thumbnail { 
    top:-50px; 
    left:-35px; 
    display:block;  
    cursor: pointer;
} 
    
/*change the number below to scale to the appropriate size*/ 
.thumbnail:hover { 
    transform: scale(1.5);
    z-index:999;
}

#videos-heading {
    text-align: center;
    margin-top: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    color: bisque;
}

#videos-field {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 0 auto;
    max-width: 1400px;
    padding: 20px 10px;
}

#videos-field img {
    width: 100%;
    max-width: 300px;
    max-height: 220px;
    object-fit: cover;
    border-radius: 10px;
}

#video-title {
    color: rgb(126, 215, 191);
    text-align: center;
}

#contact-field {
    margin: 5px auto;
    width: 500px;
}

#contact-heading1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    color: bisque;
}

#contact-heading2 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    color: bisque;
}

#contact-text {
    color:burlywood;
    font-size: x-large;
    text-align: center;
}
